body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: calc(1em + 0.33vw);
    background-color: #252627;
    color: #a9a9b3;
}

.container{
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

small{
    font-weight: 300;
}

a{
    color: red;
}

a:hover{
    color: whitesmoke;
}

span{
    font-family: monospace;
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.85em;
    background-color: transparent;
}